
{% extends 'main.html' %}



{% block content %}


<style>
input[type='text'],
input[type='email'],
input[type='password']{
  min-width: 24rem;
  width: 100%;
  padding: 1.2rem 1.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--color-light);
  transition: all 0.3s ease-in-out;
  background-color: var(--color-bg);
}

input.input[type='text']:focus,
input.input[type='email']:focus,
input.input[type='password']:focus,
input.input[type='text']:active,
input.input[type='email']:active,
input.input[type='password']:active,
select.input, {
  outline: none;
  border: 2px solid var(--color-main);
}

</style>



 <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <br>
                <h3>Account Pending Approval</h3>
                <p>YOur account is pending approval. We will check and verify the documents you have submitted
                </p>
            </div>
        </div>
    </main>

{% endblock content %}