{% extends 'main.html' %}


{% block content %} 




<!-- Main Section -->
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <a class="backButton" href="{% url 'account' %}"><i class="im im-angle-left"></i></a>
                <br>
                {% if request.user.profile.is_approved%}
                 <h1>Edit Account</h1>
                 {% endif %}
                {% if request.user.profile.is_approved == False and request.user.profile.has_applied %} 
                 <h1>Edit Application</h1>
                {% endif %}

                {% if request.user.profile.has_applied == False %} 
                 <h1>Submit Agency Application</h1>
                {% endif %} 

                <form class="form" method="POST" enctype="multipart/form-data">
                    <!-- Input:Text -->
                    {% csrf_token %}
                    {% for field in form%}
                    <div class="form__field">
                        <label for="formInput#text">{{field.label}}: </label>
                        {{field}}
                    </div>
                    {% endfor %}
                   
                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
                </form>
            </div>
        </div>
    </main>
</body>

{% endblock content%}